/* Custom Properties ------------------------------------------------------------  */
:root {
  --myNumberColumns: 3;
  --myMarginTop: 97px;
  --myMarginLeft: 200px;
}

/* Containers ------------------------------------------------------------------  */
.container-gallery {
  column-count: var(--myNumberColumns);
  column-gap: 0px;
  justify-content: center;
  grid-gap: 0px;

  /* Navbar-Left */
  /* margin-left: var(--myMarginLeft); */

  /* Navbar-Top */
  margin-top: var(--myMarginTop);
}

.item {
  height: 100%;
  margin-bottom: -4px;
}

.container-gallery .galleryImg {
  width: 100%;
  height: 100%;
  transition: 500ms;
  opacity: 1;
}

.container-gallery .galleryImg:hover {
  opacity: 0.8;
}

/* Size for Tablets y Cellphones ------------------------------------------------- */
@media screen and (max-width: 767px) {
  .container-gallery {
    column-count: 2;

    /* Navbar-Left */
    /* margin-top: var(--myMarginTop);
    margin-left: 0px; */
  }
}

@media screen and (max-width: 479px) {
  .container-gallery {
    column-count: 1;

    /* Navbar-Left */
    /* margin-top: var(--myMarginTop);
    margin-left: 0px; */
  }
}